.default-table{
    width: 100%;
    empty-cells: show;
    table-layout: fixed;
    border-spacing: 0;
    text-align: center;
}
.default-thead-table{
    font-size: 1.2rem;
    /* border-bottom: 1px solid #d0d0d080; */
    /* box-shadow: 0px 5px 20px 0px #2323233d; */
}
.default-thead-table > tr > th{
    padding: 0.5rem;
    background: #fff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 12%);
}
.default-tbody-table{
    overflow-x: auto;   
}
.default-tbody-table > tr > td{
    padding: 1rem;
    border-bottom: thin solid rgba(0,0,0,.12);
}
table > tbody > tr:hover{
    background: #eee;
    cursor: pointer;
}

.default-tfooter-table{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.text-header{
    outline: 0;
}


/* table tbody tr:nth-child(even){ background: #92929226 } */